.aboutus {
  margin-bottom: 128px;
  margin-top: 40px;


  .aboutus-brand-item-warpper-image {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrap-core-value {
    width: 200px;
    margin: 0 auto;

    p {
      text-align: left;
    }
  }

  &-name {
    font-style: normal;
    font-weight: 600;
    font-size: max(2.5em, 40px);
    line-height: 130%;
    text-align: center;
    letter-spacing: -1px;
    color: #fdd116;
    margin-bottom: 32px;
  }

  &-title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    text-align: center;
    letter-spacing: -1px;
    color: #f4f6f8;
    margin-bottom: 32px;
  }

  &-description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    text-align: center;
    color: #F4F6F8;
    letter-spacing: -0.5px;
  }

  &-brand {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 32px;
      filter: drop-shadow(0px 4px 8px rgba(254, 230, 129, 0.05));
      border-radius: 10px;

      img {
        max-width: 121px;
        max-height: 130px;
      }

      &-title {
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 135%;
        letter-spacing: -1px;
        color: #F4F6F8;
      }

      &-description {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #dfe5ea;
        margin-top: 8px;
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .aboutus {
    margin-bottom: 88px;

    &-name {
      font-size: 32px;
    }

    &-brand {
      grid-template-columns: none;

      &-item {
        padding: 0;
        margin-bottom: 8px;

        &-title {
          margin-bottom: 8px;
          font-size: 24px;
        }

        &-description {
          margin-bottom: 32px;
        }
      }
    }
  }
}