@media only screen and (max-width: $mobile) {
  .wrapper-view {
    grid-template-columns: none !important;

    &-text {
      font-size: 16px !important;
      text-align: center !important;
    }

    &-image {
      img {
        width: 100% !important;
        height: 100% !important;
      }
    }

    &-countdown {
      gap: 4px 0px;
      justify-content: space-around;

      &-item {
        flex-direction: column;

        &-time {
          font-size: 32px !important;
        }
      }
    }

    &-button {
      justify-content: space-evenly;

      &-wishlist {
        width: 155px !important;
      }

      &-readmore {
        width: 155px !important;
      }
    }
  }
}

.advers {
  position: relative;
  display: grid;
  margin-top: 32px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0 54px;

  &-image {
    margin-top: 10px;
  }

  &-text {
    font-style: normal;
    font-weight: 100;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: -1px;
    color: #F4F6F8;
    text-align: left;
  }

  &-countdown {
    margin-top: 32px;
    display: flex;
    gap: 0 16px;
    flex-wrap: nowrap;
    justify-content: space-around;

    &-item {
      padding: 0 8px;
      display: flex;
      align-items: center;
      gap: 0 4px;

      &-time {
        font-style: normal;
        font-weight: 600;
        font-size: max(2.5em, 40px);
        line-height: 130%;
        letter-spacing: -1px;
        color: #f4f6f8;
      }

      &-type {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #F4F6F8;
      }
    }
  }

  &-button {
    margin-top: 32px;
    display: flex;
    gap: 0 32px;

    &-wishlist {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 14px 18px;
      gap: 10px;
      width: 180px;
      height: 50px;
      background: #fdd116;
      border-radius: 8px;
      transition: all 0.5s;

      &:hover {
        opacity: 0.7;
      }

      &-text {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 145%;
        text-align: center;
        text-transform: capitalize;
        color: #0d1115;
        display: flex;
      }
    }

    &-readmore {
      box-sizing: border-box;
      display: flex;
      width: 180px;
      height: 50px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 14px 18px;
      background-color: transparent;
      gap: 10px;
      border: 1px solid #fdd116;
      border-radius: 8px;
      transition: all 0.5s;

      &:hover {
        opacity: 0.7;
      }

      &-text {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 145%;
        text-align: center;
        text-transform: capitalize;
        color: #fdd116;
      }
    }
  }
}