.business {
  &-name {
    font-style: normal;
    font-weight: 600;
    font-size: max(2.5em, 40px);
    line-height: 145%;
    letter-spacing: -1px;
    color: #fdd116;
    margin-bottom: 64px;
  }

  &-description {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 145%;
    letter-spacing: -1px;
    color: #f4f6f8;
    margin-bottom: 64px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 32px 0;

    &-item-odd {
      display: grid;
      grid-template-columns: 1fr 1fr;

      &-left {
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
          content: '';
          width: 266px;
          height: 266px;
          background: #6D88A2;
          position: absolute;
          border-radius: 50%;
          z-index: -999;
          opacity: 0.5;
          filter: blur(1px);
        }

        img {
          width: 136px;
          height: 300px;
          box-shadow: 0px 5.44151px 70.7152px rgba(16, 16, 34, 0.36), inset 0px 2.62993px 0px rgba(255, 255, 255, 0.09);
        }
      }

      &-right {
        display: flex;
        justify-content: center;
        flex-direction: column;

        &-title {
          font-style: normal;
          font-weight: 600;
          font-size: 32px;
          line-height: 125%;
          letter-spacing: -1px;
          color: #f4f6f8;
          margin-bottom: 32px;
        }

        &-description {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          text-align: left;
          color: #f4f6f8;
          margin-bottom: 8px;
        }
      }
    }

    &-item-even {
      display: grid;
      grid-template-columns: 1fr 1fr;

      &-left {
        order: 2;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
          content: '';
          width: 266px;
          height: 266px;
          background: #6D88A2;
          position: absolute;
          border-radius: 50%;
          z-index: -999;
          opacity: 0.5;
          filter: blur(1px);
        }

        img {
          width: 136px;
          height: 300px;
          box-shadow: 0px 5.44151px 70.7152px rgba(16, 16, 34, 0.36), inset 0px 2.62993px 0px rgba(255, 255, 255, 0.09);
        }
      }

      &-right {
        order: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;

        &-title {
          font-style: normal;
          font-weight: 600;
          font-size: 32px;
          line-height: 125%;
          letter-spacing: -1px;
          color: #f4f6f8;
          margin-bottom: 32px;
        }

        &-description {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          text-align: right;
          color: #f4f6f8;
        }
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .business {
    &-name {
      font-size: 32px !important;
      margin-bottom: 32px;
    }

    margin-bottom: 128px !important;

    &-description {
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 125%;
    }

    &-list {
      gap: 64px 0 !important;

      &-item-odd {
        display: grid;
        grid-template-columns: none !important;
        grid-gap: 16px 0;

        &-left {
          &::before {
            width: 200px;
            height: 200px;

          }

          img {
            width: 105px;
            box-shadow: 0px 5.44151px 70.7152px rgba(16, 16, 34, 0.36), inset 0px 2.62993px 0px rgba(255, 255, 255, 0.09);
            height: 232px;
          }

          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 !important;
          order: 2 !important;
        }

        &-right {
          order: 1 !important;

          &-title {
            font-size: 32px !important;
            text-align: center;
            margin-bottom: 16px;
          }

          &-description {
            text-align: center;
            margin-bottom: 16px;
          }
        }
      }

      &-item-even {
        display: grid;
        grid-gap: 16px 0;
        grid-template-columns: none !important;

        &-left {
          &::before {
            width: 200px;
            height: 200px;
          }

          img {
            width: 105px;
            box-shadow: 0px 5.44151px 70.7152px rgba(16, 16, 34, 0.36), inset 0px 2.62993px 0px rgba(255, 255, 255, 0.09);
            height: 232px;
          }

          display: flex;
          justify-content: center !important;
          align-items: center !important;
        }

        &-right {
          align-items: center;

          &-title {
            font-size: 32px !important;
            text-align: center;
            margin-bottom: 16px;
          }

          &-description {
            text-align: center;
          }
        }
      }
    }
  }
}