@media only screen and (min-width: $mobile) {
  .feature {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .feature-list-item-image {
      img {
        max-width: 127px !important;
        max-height: 62px !important;
      }
    }

    .feature-list {
      padding-bottom: 64px;
      width: 90%;
    }

    .feature-list-item {
      height: 348px;
    }
  }
}

.feature {
  margin-top: 128px;

  .slick-slide {
    margin: 0 32px;
  }

  .slick-prev {
    span {
      &::before {
        color: #fdd116;
      }

      font-size: 22px;
    }

    background-color: transparent;
    position: absolute;
    display: block;
    bottom: 0;
    right: 64px;
    transform: translate(-50%, -50%);
    z-index: 999;
  }

  .slick-next {
    span {
      &::before {
        color: #fdd116;
      }

      font-size: 22px;
    }

    background-color: transparent;
    position: absolute;
    display: block;
    bottom: 0;
    right: 0px;
    transform: translate(-50%, -50%);
    z-index: 999;
  }

  .slick-dots {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 16px;
    position: absolute;
    top: -85px;
    left: 50%;
    display: flex;
    transform: translate(-50%, 10px);

    button {
      font-size: 0;
      background-color: #dfe5ea;
      width: 14px;
      height: 14px;
      border-radius: 100rem;
    }

    .slick-active {
      transition: all 0.5s;

      button {
        background: #fdd116 !important;
      }
    }
  }

  .feature-list-item.slick-slide.slick-center {
    box-sizing: border-box;
    padding: 32px 32px 55px 32px;
    border: 1px solid #fee681;
    height: 486px;
    width: 550px;
    border-radius: 15px;

    .feature-list-item-image {
      margin-bottom: 35px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 233px !important;
        max-height: 83px !important;
      }
    }

    .feature-list-item-title {
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 130%;
      letter-spacing: -1px;
      color: #f4f6f8;
      margin-bottom: 8px;
    }

    .feature-list-item-text {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      color: #92A6B9;
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 10;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .feature-list-item.slick-slide:not(.slick-center) {
    box-sizing: border-box;
    padding: 32px 32px 32px 32px;
    border: 1px solid #fee681;
    border-radius: 15px;
    width: 550px;
    height: 348px;

    .feature-list-item-image {
      margin-bottom: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .feature-list-item-title {
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 130%;
      letter-spacing: -1px;
      color: #f4f6f8;
      margin-bottom: 8px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .feature-list-item-text {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      color: #92A6B9;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &-name {
    font-style: normal;
    font-weight: 600;
    font-size: max(2.5em, 40px);
    line-height: 145%;
    text-align: center;
    letter-spacing: -1px;
    color: #fdd116;
    margin-bottom: 96px;
  }

  &-list {
    display: flex;
    gap: 0 32px;

    // &-item {
    //   box-sizing: border-box;
    //   padding: 32px 32px 32px 32px;
    //   width: 357px;
    //   border: 1px solid #fee681;
    //   border-radius: 15px;
    //   &-image {
    //     margin-bottom: 35px;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //   }
    //   &-title {
    //     font-style: normal;
    //     font-weight: 600;
    //     font-size: 30px;
    //     line-height: 145%;
    //     letter-spacing: -0.5px;
    //     color: #f4f6f8;
    //     margin-bottom: 8px;
    //   }
    //   &-text {
    //     font-style: normal;
    //     font-weight: 600;
    //     font-size: 28px;
    //     line-height: 145%;
    //     text-align: justify;
    //     color: #92a6b9;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //     white-space: nowrap;
    //     width: 300px;
    //     display: block;
    //   }
    // }
  }
}

@media only screen and (max-width: $mobile) {
  .feature {
    margin-top: 64px;

    &-name {
      position: relative;
      margin-bottom: 64px;
      font-size: 32px;
    }

    .feature-list {
      padding-bottom: 64px;
    }

    .slick-dots {
      top: -55px;
    }


    .feature-list-item-image {
      justify-content: center !important;
      margin-bottom: 32px !important;

      img {
        max-width: 233px !important;
        max-height: 83px !important;
      }
    }

    .feature-list-item {
      min-height: 500px !important;
      width: 330px !important;
    }

    .feature-list-item-title {
      font-size: 18px !important;
    }

    .feature-list-item-text {
      font-size: 16px !important;
      min-height: min-content !important;
      display: -webkit-box !important;
      -webkit-line-clamp: 12 !important;
      -webkit-box-orient: vertical !important;
      overflow: hidden !important;
    }
  }
}