@media only screen and (max-width: 1200px) {
  .footer {
    &-grid {
      margin-top: 26px;
      margin-bottom: 91px;
      display: grid;
      grid-template-columns: none !important;
      grid-gap: 48px 0px !important;
    }
  }
}

.footer {
  margin-top: 114.79px;
  border-top: 1px solid #92a6b9;
  border-bottom: 1px solid #92a6b9;

  a {
    margin-bottom: 6px;
  }

  &-grid {
    margin-top: 26px;
    margin-bottom: 91px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 0px 67.7px;

    &-column {

      &-description {
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 150%;
        color: #F4F6F8;
        margin-bottom: 8px;
      }

      &-social {
        span:hover {
          &::before {
            color: #fdd116;
          }

          font-size: 22px;
        }

        span {
          font-size: 22px;
        }

        display: flex;
        margin-bottom: 28px;
        cursor: pointer;
        justify-content: space-between;
        max-width: 235px;
      }

      &-title-down {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #f4f6f8;
        white-space: nowrap;
      }

      &-appstore {
        margin-top: 8px;
        margin-bottom: 6px;
        cursor: pointer;
      }

      &-googlestore {
        cursor: pointer;
      }

      &-logo {
        margin-bottom: 8px;
      }

      &-texttitle {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #f4f6f8;
        margin-bottom: 8px;
        text-transform: uppercase;
      }

      &-text {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #f4f6f8;

        &-intro {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 135%;
          color: #F4F6F8;
          margin-bottom: 4px;

          a {
            &:link {
              color: #F4F6F8;
            }

            &:link {
              color: #F4F6F8;
            }

            &:visited {
              color: #F4F6F8;
            }

            &:hover {
              color: #fdd116;
              border-bottom: 1px solid #fdd116;
            }

            &:active {
              color: #F4F6F8;
            }
          }
        }
      }

      &-policys {
        display: flex;
        flex-direction: column;

        &-text {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          color: #CBD5DE;
        }
      }
    }
  }
}