body {
  line-height: 1;
  font-family: $font;
  background-color: #2f3d4a;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: $font;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

@media only screen and (max-width: $mobile) {
  .wrapper {
    margin: 0 !important;
  }
  .container {
    margin: 0 16px 0 16px;
  }
}

@media only screen and (min-width: $mobile) {
  .container {
    margin: 24px 70px 0px 71px;
  }
}
