.nav-active{
  overflow: hidden;
}
nav{
  position: relative;

}
.box-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  .header_mobile{
    margin: 0 16px;
    width: calc(100% - 32px);
    position: relative;
  }
  .mb-navigation-list-menu-item-text{
    width: 100%;
    display: block;
  }
}

.menu-icon {
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: 5;
  right: 0;
  top: 70%;
  cursor: pointer;
  transform: translateY(-50%);
}

.menu-icon__line {
  height: 2px;
  width: 32px;
  display: block;
  background-color: #F4F6F8;
  margin-bottom: 6px;
  transition: transform 0.2s ease, background-color 0.5s ease;
}

.nav-active .menu-icon__line {
  background-color: #F4F6F8;
}

.nav-active .menu-icon__line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-icon__line:nth-child(2) {
  visibility: hidden;
  opacity: 0;
}

.nav-active .menu-icon__line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-active .nav {
  visibility: visible;
}

.nav-active .nav:before,
.nav-active .nav:after {
  transform: translateX(0%) translateY(0%);
}

.nav-active .nav:after {
  transition-delay: 0.1s;
}

.nav-active .nav:before {
  transition-delay: 0s;
}

.nav-active .nav__list-item {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.nav-active .nav__list-item:nth-child(1) {
  transition-delay: 0.6s;
}

.nav-active .nav__list-item:nth-child(2) {
  transition-delay: 0.7s;
}

.nav-active .nav__list-item:nth-child(3) {
  transition-delay: 0.8s;
}

.nav-active .nav__list-item:nth-child(4) {
  transition-delay: 0.9s;
}
@media only screen and (max-width: $mobile) {
  .nav {
    position: fixed;
    z-index: 1;
}
  .wrapper {
    .mb-navigation {
      left: -1000px;
      opacity: 0;
      &-close {
        padding: 0 17px;
        display: flex;
        justify-content: flex-end;
      }
      position: absolute;
      top: 0;
      left: -1000px;
      width: 100%;
      background-color: #2F3D4A;
      height: 100vh;
      z-index: 999;
      transition: all 0.5s ease;
      z-index: 1;
      .mb-navigation-list-menu {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 32px 0px;
        padding-left: 17px;
        margin-top: 20vh;
        padding-right: 17px;
        .active {
          border-bottom: 3px solid #fdd116;

          a {
            color: #fdd116 !important;
          }
        }
        &-item {
          padding: 4px 0px;
          &-text {
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 145%;
            letter-spacing: -1px;
            color: #f4f6f8;
            &:hover {
              color: #FDD116;
            }
            &:active {
              color: #FDD116;
            }
          }
        }
      }
      .mb-navigation-list-menu-item-text.active{
        color: #FDD116;
      }
    }
  }
  .nav-active{
    .wrapper {
      .mb-navigation {
        left: 0px;
        opacity: 1;
      }}
  }
}

@media only screen and (min-width: $mobile) {
  .wrapper {
    .mb-navigation {
      display: none !important;
    }
  }
}
