.partners {
  margin-top: 128px;

  &-title {
    font-style: normal;
    font-weight: 600;
    font-size: max(2.5em, 40px);
    line-height: 145%;
    letter-spacing: -1px;
    color: #fdd116;
    margin-bottom: 64px;
  }

  &-brand {
    &-title {
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 125%;
      letter-spacing: -1px;
      color: #ffffff;
      margin-bottom: 32px;
    }

    &-item {
      display: block;
      margin-bottom: 32px;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;

      &::-webkit-scrollbar {
        display: none;
      }

      &-logo {
        width: 250px;
        height: 250px;
        background: #f4f6f8;
        border-radius: 10px;
        margin-right: 32px;
        display: inline-block;
        align-items: center;
        justify-content: center;
        position: relative;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-width: 150px;
          max-height: 110px;
        }
      }
    }
  }

  &-cryptos {
    display: flex;
    gap: 0 314px;
    margin-bottom: 32px;

    &-item {
      &-title {
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 125%;
        letter-spacing: -1px;
        color: #ffffff;
        margin-bottom: 32px;
      }

      &-content {
        width: 250px;
        height: 250px;
        background: #f4f6f8;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 150px;
          max-height: 110px;
        }
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .partners {
    margin-top: 32px;

    &-title {

      font-size: 32px !important;
    }

    &-brand {
      &-title {
        font-size: 24px !important;
      }

      &-item {
        &-logo {
          width: 100px !important;
          height: 100px !important;

          img {
            max-width: 70px !important;
            max-height: 60px !important;
          }
        }
      }
    }

    &-cryptos {
      gap: 0 55px !important;

      &-item {
        &-title {
          font-size: 24px !important;
        }

        &-content {
          width: 100px !important;
          height: 100px !important;

          img {
            max-width: 70px !important;
            max-height: 60px !important;
          }
        }
      }
    }
  }
}