.team {
  margin-top: 128px;

  &-title {
    font-style: normal;
    font-weight: 600;
    font-size: max(2.5em, 40px);
    line-height: 145%;
    letter-spacing: -1px;
    color: #fdd116;
    margin-bottom: 64px;
  }

  &-description-list {
    .slick-prev {
      span {
        &::before {
          color: #fdd116;
        }

        font-size: max(2.5em, 40px);
      }

      background-color: transparent;
      position: absolute;
      display: block;
      top: 30%;
      left: 200px;
      transform: translate(-50%, -50%);
      z-index: 999;
    }

    .slick-next {
      span {
        &::before {
          color: #fdd116;
        }

        font-size: max(2.5em, 40px);
      }

      background-color: transparent;
      position: absolute;
      display: block;
      top: 30%;
      right: 200px;
      transform: translate(-50%, -50%);
      z-index: 999;
    }

    .slick-dots {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 16px;

      button {
        font-size: 0;
        background-color: #dfe5ea;
        width: 14px;
        height: 14px;
        border-radius: 100rem;
      }

      .slick-active {
        transition: all 0.5s;

        button {
          background: #fdd116 !important;
        }
      }
    }

    &-item {
      h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 145%;
        letter-spacing: -0.5px;
        color: #dfe5ea;
        padding: 0 298.75px 0 288.25px;
        text-align: left;
      }

      &-social {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 32px;
        margin-bottom: 64px;
        cursor: pointer;

        .fb-social {
          cursor: pointer;
          font-size: 32px;

          &::before {
            color: #fdd116;
          }

          &:hover {
            &::before {
              color: #fff;
            }
          }
        }

        .ins-social {
          cursor: pointer;
          font-size: 32px;

          &::before {
            color: #fdd116;
          }

          &:hover {
            &::before {
              color: #fff;
            }
          }
        }
      }
    }
  }

  &-gallery {
    padding: 32px 0px;
    margin-bottom: 64px;

    .slick-track {
      display: flex;
      transition: all 1s;
      align-items: center;

      .slick-slide {
        img {
          -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
          object-fit: cover;
          transition: all 1s;
        }
      }

      .slick-active,
      .slick-center {
        transform: scale(1.5);
        padding: 63.5px 51px;
        border-radius: 8px;

        img {
          border-radius: 8px;
          -webkit-filter: none;
          filter: none;
        }

        .team-gallery-member-info {
          display: block;
        }
      }
    }

    &-member {
      position: relative;

      img {
        width: 205px;
        height: 253px;
      }

      &-info {
        position: absolute;
        bottom: 0;
        left: 0;
        background: #374756;
        display: none;
        width: 100%;
        padding-left: 16px;

        &-job {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 145%;
          letter-spacing: -1px;
          color: #fdd116;
          margin-top: 16px;
        }

        &-des {
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 145%;
          letter-spacing: -0.5px;
          margin-top: 8px;
          margin-bottom: 16px;
          color: #f4f6f8;
        }
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .team {
    margin-top: 64px;

    &-title {
      font-size: 32px !important;
    }

    &-description-list {
      .slick-prev {
        span {
          font-size: 24px !important;
        }

        left: 5px !important;

        img {
          width: 50% !important;
        }
      }

      .slick-next {
        span {
          font-size: 24px !important;
        }

        right: 5px !important;

        img {
          width: 50% !important;
        }
      }

      &-item {
        h3 {
          font-style: normal;
          font-weight: 600;
          font-size: 18px !important;
          line-height: 145%;
          letter-spacing: -0.5px;
          color: #dfe5ea;
          padding: 0 42px 0 38px !important;
        }
      }
    }
  }
}