.tokenomics {
  margin-top: 192px;
  margin-bottom: 192px;
}

.token {
  display: grid;
  grid-gap: 0 20px;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  &-list {}

  &-list {
    display: flex;
    gap: 16px 0px;
    flex-direction: column;
    height: 605px;
    overflow-y: auto;
    padding-bottom: 16px;

    &::-webkit-scrollbar {
      display: none;
    }

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      padding: 0px;
      border: 1px solid rgba(253, 209, 22, 0.2);
      border-radius: 10px;

      &-line {
        width: 5px;
        height: 100%;
        margin-top: 1px;
        background: #eed26b;
        border-radius: 10px 0px 0px 10px;
      }

      &-content {
        padding: 16px 0px 16px 16px;
        float: left;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-right {
          padding-right: 20px;
          display: flex;
          flex-direction: column;
          gap: 8px 0;
          float: left;

          &-title {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 145%;
            color: #f4f6f8;
            text-align: right;
          }

          &-description {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 145%;
            color: #f4f6f8;
            text-align: right;

          }
        }

        &-left {
          display: flex;
          flex-direction: column;
          gap: 4px 0;
          width: calc(100% - 110px);
          float: left;

          &-description {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 145%;
            color: #f4f6f8;
            width: 100%;
          }

          &-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 8px;

            &-percent {
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 145%;
              color: #fee681;
            }

            &-name {
              font-style: normal;
              font-weight: 600;
              font-size: 12px;
              line-height: 145%;
              color: #fdd116;
            }
          }
        }
      }
    }
  }

  &-chart {
    img {
      max-height: 453px;
    }

    &-title {
      font-style: normal;
      font-weight: 600;
      font-size: max(2.5em, 40px);
      line-height: 145%;
      letter-spacing: -1px;
      color: #fdd116;
      margin-bottom: 64px;
    }

    &-name {
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 145%;
      letter-spacing: -0.5px;
      color: #fdd116;
      opacity: 0;
    }

    &-price {
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 145%;
      letter-spacing: -1px;
      color: #f4f6f8;
      margin-bottom: 35.15px;
      opacity: 0;
    }

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media only screen and (min-width: $mobile) and (max-width: 1200px) {
  .token {
    .token-chart-image {
      img {
        width: 100%;
        max-height: none;
      }
    }
  }
}

@media only screen and (max-width: $mobile) {

  .tokenomics {
    margin-top: 88px;
    margin-bottom: 88px;
  }

  .token {
    grid-template-columns: none !important;
    grid-gap: 32px 0px !important;
    margin-bottom: 64px !important;

    img {
      width: 100%;
      max-width: 550px;
    }

    &-chart {
      &-title {
        font-size: 32px !important;
      }

      &-name {
        font-size: 18px !important;
      }

      &-price {
        font-size: 16px !important;
      }

      img {
        max-height: none;
      }
    }

    &-list {
      margin-top: 0px !important;

      &-item {
        &-content {
          &-left {
            display: flex;
            flex-direction: column;
            gap: 4px 0;

            &-description {
              // width: 210px !important;

            }
          }
        }
      }
    }
  }
}